extends layout.pug

block content
    #map
    p #{values}
    script(type='text/javascript').     
        var map = L.map('map').setView([65, 28.5], 5);L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',{attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
        var markervals=#{values};
        for(i=0;i=markervals.length;i++)
		{		
        var marker = new L.marker([markervals[i].lat, markervals[i].long], { opacity: 0.01 });marker.bindLabel(markervals[i].moisture+"%", {noHide: true, className: "my-label", offset:[0,0]});marker.addTo(map);
        }
        
            